body {
  margin: 0;
}

#output_scroll {
  width: 100%;
  /* height: 100% - 30px; (handled programatically) */
  overflow: auto;
  margin: 0;
  padding: 0;
}
#prompt {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
}
#cwd {
  position: absolute;
  height: 30px;
  font-family: inconsolata, courier, monospace;
  font-size: 12px;
  margin: 9px 5px;
}
#input {
  height: 30px;
  width: 90%;
  margin: 0;
  font-family: inconsolata, courier, monospace;
}
#go {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  width: 10%;
  margin: 0;
}

pre {
  font-family: inconsolata, courier, monospace;
}
