body {
  margin: 0;
}
a {
  text-decoration: none;
}
a.cmd {
  font-family: inconsolata, courier, monospace;
}

#output_scroll {
  width: 100%;
  /* height: 100% - 30px; (handled programatically) */
  overflow: auto;
  margin: 0;
  padding: 0;
}
#prompt {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
}
#cwd {
  position: absolute;
  height: 30px;
  font-family: inconsolata, courier, monospace;
  font-size: 12px;
  margin: 9px 5px;
}
#input {
  height: 30px;
  width: 90%;
  margin: 0;
  font-family: inconsolata, courier, monospace;
}
#go {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  width: 10%;
  margin: 0;
}

/* http://www.colourlovers.com/palette/452030/you_will_be_free
 * #F7F9FE
 * #ECF1F2
 * #DCE8EB
 * #CBDBE0
 * #BED2D9
 */
body {
  background-color: #F7F9FE;
}
ul#output {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#output li.action {
  margin: 1em;
  border: 2px solid #BED2D9;
  border-radius: 1em;
  padding: 0.5em;
  display: block;
  background-color: #ECF1F2;
  overflow-x: auto;
  box-shadow: 0.2em 0.2em 1em 0 #BED2D9 inset;
}
ul#output li.action div.command {
  margin: 0;
  padding: 0.2em;
  font-family: inconsolata, courier, monospace;
  font-size: 0.8em;
  border-bottom: 1px solid #CBDBE0;
  text-shadow: 0 0 1em white;
}
ul#output li.action div.response {
  margin: 0.7em 0 0 0.7em;
}

pre {
  font-family: inconsolata, courier, monospace;
}

div.file_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.file_list a.cmd {
  float: left;
  margin: 2.5pt;
  padding: 0.2em 0.5em 0.2em 25px;
  border: solid 1px #CBDBE0;
  border-radius: 0.8em;
  box-shadow: 0.1em 0.1em 0.1em #AAA;
  background: no-repeat 5px center #DCE8EB;

  transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color: 0.4s;
  -o-transition: background-color: 0.4s;
}
div.file_list a.cmd.directory {
  background-image: url('images/folder.gif');
}
div.file_list a.cmd.file {
  background-image: url('images/text.gif');
}
div.file_list a.cmd.app {
  background-image: url('images/cmd.gif');
}

#output div.file_list a.cmd:hover {
  background-color: #ECF1F2;
}
#output div.file_list a.cmd:active {
  background-color: #F7F9FE;
  margin: 3pt 2pt 2pt 3pt;
  box-shadow: none;
}
